ul.edu-list: for e in edu
    li: article.edu
        header: .columns
            .column
                h2.edu__org #{e.school}
                h3.edu__deg #{e.degree}
            .column.has-text-right
                div: +dateRange(e.start, e.end)                        
                div #{e.location}

        +listOpt(e.details, 'detail-list')
