ul.edu-list: for e in edu
    li.cv-asc: article.edu
        header: .columns.is-gapless
            .column
                h2.edu__org.asc-name #{e.school}
                h3.edu__deg.asc-title #{e.degree}
            .column
                +cvsItemInfo(e.start, e.end, e.location, 'edu__date', 'edu_location')
        +listSectionOpt(e.details, 'Achievements', 'edu__achv')
