extends views/layouts/base.pug

block biography
    h1 Biography
    include views/partials/biography.pug

block experience
    h1 Experience
    include views/partials/experience-list.pug

block education
    h1 Education
    include views/partials/education-list.pug

block projects
    h1 Relevant Projects
    include views/partials/projects-list.pug
