include ./../mixins.pug

html
    head
        title My Resume
        link(rel="stylesheet", href="screen.css")
body
    article.cv
        section
            block biography
        section
            block experience
        section
            block education
