.bio {
    // padding-top: $space-y;
    margin-bottom: $space-y * 3;
}

// stacked links
.bio__links {
    & > a {
        display: block;
    }
}

// layout or right-side content
.bio .column.has-text-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


// theme

.bio__title {    
    // override parent
    text-decoration: none!important;
}
