extends views/layouts/base.pug

block biography
    h1.cvs__title Biography
    include views/partials/biography.pug

block experience
    h1.cvs__title Experience
    include views/partials/experience-list.pug

block education
    h1.cvs__title Education
    include views/partials/education-list.pug

block projects
    h1.cvs__title Projects
    include views/partials/projects-list.pug
