mixin exp(e)
    article.exp
        header.exp__header: .columns
            .column
                h2.exp__comp #{e.company}
                h3.exp__title #{e.title}

            .column.has-text-right
                div: +monthYear(e.start)
                if e.end
                    div: +monthYear(e.end)
                div: #{e.location}

        if e.info
            div.exp__info.info
                p #{e.info}

        +listOpt(e.details, 'exp__details detail-list')

        if e.projects && e.projects.length > 0
            section.exp__proj
                h2 Projects
                ul.proj-list: each p in e.projects
                    li: +proj(p)
