mixin exp(company, location, title, start, end, details)
    article.exp
        header.exp__header: .columns
            .column
                h2.exp__comp #{company}
                h3.exp__title #{title}
            .column.has-text-right
                div: +dateRange(start, end)
                div #{location}
        +listOpt(details, 'exp__details detail-list')
