mixin exp(e)
    article.exp
        header.exp__header
            h2 #{e.title}
            div: +monthYear(e.start)
            if e.end
                div: +monthYear(e.end)

        if e.info
            div.exp__info.info
                p #{e.info}

        +listOpt(e.details, 'exp__details detail-list')

        //- +projList(e.projects)
        if e.projects && e.projects.length > 0
            section.exp__proj
                h2 Projects
                ul.proj-list: each p in e.projects
                    li: +proj(p)
