include ./../partials/mixins.pug

html
    head
        title My Resume
body
    article.cv
        section
            block biography
        section
            block experience
        section
            block education
