@media print {
    html {
        font-size: 12px;
    }

    .is-size-2 {
        font-size: $size-3!important;
        margin-bottom: 0;
    }

    .cv-list > ul > li + li {
        margin-top: 0;
    }
}
