include ./../mixins.pug

html
    head
        title My Resume
        link(rel="stylesheet", href="main.css")
body
    article.cv
        section.cvs
            block biography
        section.cvs
            block experience
        section.cvs
            block projects
        section.cvs
            block education
