// typography
//
// line height, per size
// serif group
// size & style groups
//
// @todo use variables for everything here


// line height, per size

.is-size-1 {
    line-height: $base-line-height * map-get($line-heights, 1);
}

.is-size-2 {
    // color: red!important;
    line-height: $base-line-height * map-get($line-heights, 2);
}

.is-size-3 {
    line-height: $base-line-height * map-get($line-heights, 3);
}

.is-size-4 {
    line-height: $base-line-height * map-get($line-heights, 4);
}

// serif group

.asc-title,
.asc-info,
.asc-links,
.cv-list {
    font-family: $family-serif;
}

// size & style

// largest is bio name
.bio__name {
    @extend .is-size-1;

    // emphesize and constrain
    color: $cv-bio-name-color;
    font-weight: 800;
    width: 200px;
    margin-bottom: $space-y;
}

// "association names" (company, organiation, school)
.asc-name {
    @extend .is-size-2;

    text-decoration: $asc-name-decoration;
    margin: $asc-name-margin;
    color: $asc-name-color;
    font-weight: $asc-name-weight;
}

// "association titles" (job title, project name, educ. degree)
.asc-title,
.tech-list {
    @extend .is-size-3;

    color: $asc-title-color;
    font-weight: $asc-title-weight;
    font-style: $asc-title-style;
    margin: $asc-title-margin;
}

// association lists
.cv-list > ul,
.asc-date {
    @extend .is-size-3;
}

.asc-loc,
.asc-links {
    @extend .is-size-4;
}

.asc-loc {
    font-style: italic;
}

// section headings
.cvs__title {
    @extend .is-size-3;

    padding: $cvs-title-padding;
    margin: $cvs-title-margin;
    color: $cvs-title-color;
    font-weight: $cvs-title-weight;
    text-transform: $cvs-title-transform;    
    letter-spacing: $cvs-title-spacing;
}
